%% {{ ansible_managed }}
%% vim: set ft=erlang:
%% Trigger change on hostname change: {{ ansible_fqdn }} because rabbitmq cares
%%
[ { rabbit
  , [ { log_levels,
        [ { connection, {{ log_level }} }
        , { channel,    {{ log_level }} } ]}

    , { vm_memory_high_watermark, {{ mem_watermark }} }
    , { hipe_compile, {{ 'true' if hipe_compile else 'false' }} } ]}

, { rabbitmq_management
    , [{ http_log_dir, "/var/log/rabbitmq/management_api.log" }]}
].
